# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# node.js
#
node_modules/
npm-debug.log
local.properties
*.iml
.name
android/.idea/libraries/imagepipeline_okhttp_0_6_1.xml
android/.idea/libraries/jackson_core_2_2_3.xml
android/.idea/libraries/jsr305_3_0_0.xml
android/.idea/libraries/library_2_4_0.xml
android/.idea/libraries/okhttp_2_4_0.xml
android/.idea/libraries/okhttp_ws_2_4_0.xml
android/.idea/libraries/okio_1_5_0.xml
android/.idea/libraries/react_native_0_11_0.xml
android/.idea/libraries/support_annotations_23_0_0.xml
android/.idea/libraries/support_v4_23_0_0.xml
android/.idea/compiler.xml
android/.idea/gradle.xml
android/.idea/misc.xml
android/.idea/modules.xml
android/.idea/runConfigurations.xml
android/.idea/vcs.xml
android/.idea/workspace.xml
android/.idea/copyright/profiles_settings.xml
android/.idea/libraries/android_jsc_r174650.xml
android/.idea/libraries/appcompat_v7_23_0_0.xml
android/.idea/libraries/bolts_android_1_1_4.xml
android/.idea/libraries/drawee_0_6_1.xml
android/.idea/libraries/fbcore_0_6_1.xml
android/.idea/libraries/fresco_0_6_1.xml
android/.idea/libraries/imagepipeline_0_6_1.xml
